<h1>ログイン</h1>

<%= form_tag("/login") do %>
 <p>名前</p>
  <!-- name属性を追加してください -->
  <input name ="name">
  <p>パスワード</p>
  <!-- name属性を追加してください -->
  <input type="password" name ="password">
  <input type="submit" value="ログイン">
  <!-- form_tag用のendを追加してください -->
 <% end %>